<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/footer.css">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="container">
            <% if(redirectMsg) { %>
                <span class="redirect-msg"><%= redirectMsg %></span>
            <% } %>
            <!-- cta start -->
            <h1 class="cta-header"></h1>

            <button class="cta-btn">
                <p class="cta-btn__play-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg>
                </p>
                Gotta test it
            </button>
            <!-- cta end -->

            <!-- registry start -->
            <div class="registration">
                <input type="text" name="username" id="registration__username" placeholder="Enter your username...">
                <button type="submit" id="registration__submit">Let's go</button>
                <p class="registration__status-msg"></p>
            </div>
            <!-- registry end -->

            <%- include('./partials/footer.ejs') %>
        </div>
    </body>

    <script src="/js/index.js" defer></script>
    <script src="/js/menu-operations.js" defer></script>
</html>