<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.scss">
<%- include('./partials/head.ejs') %>

    <body>

        <div class="container">
            <h1 class="game-header">How fast can you type?</h1>
            <button class="cta">Let me see</button>
        </div>

    </body>

</html>