<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.scss">
<%- include('./partials/head.ejs') %>

    <body>

        <div class="container">
            <%- include('./partials/main.ejs') %>
        </div>

    </body>

</html>