<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/leaderboard.css">

    <body>
        <%- include('./partials/nav.ejs') %>

        <table class="ranking">
            <thead>
                <th>Ranking</th>
                <th>Username</th>
                <th>Performance</th>
                <th>Percentage</th>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>fatihthebach</td>
                    <td>35/35</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>fatihthebach61</td>
                    <td>35/37</td>
                    <td>98,330%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>fatihthebach222</td>
                    <td>32/35</td>
                    <td>87%</td>
                </tr>

            </tbody>
        </table>

        <%- include('./partials/footer.ejs') %>

        <script src="/js/menu-operations.js" defer></script>
    </body>

</html>