<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/play.css">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="container">
            <p class="timer">60</p>
            <span class="target-words"></span>
            <input type="text" id="wordInput" placeholder="enter here">
            <div class="game-over-container">
                <div class="game-over__success-rate"></div>
                <div class="game-over__buttons">
                    <span class="scoreboard">Scoreboard</span>
                    <span class="play-again">Play Again</span>
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>
    </body>

    <script src="/js/play.js" defer></script>
</html>