<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/play.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/footer.css">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="container">
                
                <p class="timer"></p>
                <span class="target-words"></span>
                <input type="text" id="wordInput" placeholder="Buraya girin" autofocus>
                
                <div class="instructions">
                    <span>
                        <small style="color: hsl(20, 75%, 60%); text-decoration: underline;">Harf girdiğiniz</small>
                        anda sayaç başlar.
                    </span>
                    <br>
                    <span>Kelimeyi girdikten sonra <small
                            style="color: hsl(20, 75%, 60%); text-decoration: underline;">boşluk</small> tuşuna
                        basın.</span>
                </div>

                <div class="game-over-container">
                    <div class="game-over__success-rate"></div>
                    <div class="game-over__buttons">
                        <span class="play-again">Tekrar Oyna</span>
                        <span class="scoreboard">Liderlik Tablosu</span>
                    </div>
                </div>

                <%- include('./partials/footer.ejs') %>
            </div>
    </body>

    <script src="/js/play.js" defer></script>
    <script src="/js/menu-operations.js" defer></script>
    <script src="/js/menu-logout-check.js" defer></script>

</html>