@import './partials/flex';
@import './partials/initial';

.redirect-msg {
    text-align: center;
    font-weight: 600;
    font-size: 19.2px;
    letter-spacing: 2px;
    padding-bottom: 2px;
    color: hsl(20, 60%, 60%);
    margin: 0 auto;
}

@media screen and (max-width:600px) {
    .redirect-msg {
        font-size: 16px;
    }
}

// =========container==========
.container {
    @include flex($flex: flex, $dir: column, $gap: 3rem);
    width: 100%;

    // ---cta start---
    .cta-header {
        font-size: 64px;
        font-weight: 400;
        letter-spacing: 3px;
        text-align: center;

        &::after {
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }

        @keyframes blink {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .cta-btn {
        @include flex($flex: flex, $align: center, $justify: center);
        position: relative;
        width: 15%;
        margin: 0 auto;
        padding: 25px 15px;
        background: none;
        border: none;
        letter-spacing: 1.5px;
        font-size: 20.8px;
        font-weight: 300;
        cursor: pointer;
        box-shadow: 0px 0px 1px white;
        transition: all .2s ease;

        .cta-btn__play-icon {
            @include flex($flex: inline-flex, $align: center, $justify: center);
            margin-right: 1rem;

            svg {
                fill: white;
            }
        }
    }
    // =========container end===========

    // medias for cta
    @media screen and (max-width: 1450px) {
        .cta-btn {
            width: 25%;
        }
    }

    @media screen and (max-width: 1200px) {
        .cta-header {
            font-size: 48px;
        }
    }

    @media screen and (max-width: 750px) {

        .cta-header {
            font-size: 24px;
        }

        .cta-btn {
            padding: 12px;
            width: 60%;
            font-size: 17.6px;
        }
    }

    @media screen and (max-width: 500px) {

        .cta-header {
            font-size: 20.8px;
        }

        .cta-btn {
            padding: 8px;
            width: 60%;
            font-size: 16px;
        }
    }
    // ---cta end---

    // ---registration start---
    .registration {
        margin: 0 auto;
        padding: 0 25px;
        display: none;
        text-align: center;
        transition: all .5s ease;

        #registration__username,
        #registration__submit {
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        #registration__username {
            outline: none;
            color: #242424;
        }

        #registration__submit {
            background: gray;
            cursor: pointer;
            transition: background .2s ease-in-out;

            &:hover {
                background: #545454;
            }
        }

        .registration__status-msg {
            display: none;
            max-width: 330px;
            margin-top: 16px;
            padding: 16px;
            transition: opacity .2s ease-in-out;
        }
    }
    // ---registration end---
}

// ---registration media---
@media screen and (max-width: 750px) {
    .registration .registration__status-msg {
        max-width: 210px;
        text-align: center;
        margin: 8px auto 0;
    }

    .registration #registration__submit {
        margin-top: 8px;
        width: 100%;
        max-width: 210px;
    }
}

@media screen and (max-width: 500px) {
    .registration .registration__status-msg,
    .registration #registration__username
    {
        max-width: 210px !important;
    }

    .registration #registration__submit,
    .registration #registration__username {
        padding: 8px !important;
    }
    
    .container {
        gap: 28.8px;
    }

    ::placeholder {
        font-size: 14.4px;
    }
}

// ---for cursor effect---
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}
