@import './partials/flex';
@import './partials/initial';

.redirect-msg {
    padding: .75em;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 auto;
}

// =========container==========
.container {
    @include flex($flex: flex, $dir: column, $gap: 3rem);
    width: 100%;

    // ---cta start---
    .cta-header {
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 3px;
        text-align: center;

        &::after {
            content: "|";
            animation: blink 500ms linear infinite alternate;
        }

        @keyframes blink {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .cta-btn {
        @include flex($flex: flex, $align: center, $justify: center);
        position: relative;
        width: 15%;
        margin: 0 auto;
        padding: 1rem;
        background: gray;
        border: none;
        letter-spacing: 1.5px;
        font-size: 1.3rem;
        font-weight: 300;
        cursor: pointer;
        transition: all .2s ease;

        .cta-btn__play-icon {
            @include flex($flex: inline-flex, $align: center, $justify: center);
            margin-right: 1rem;

            svg {
                fill: white;
            }
        }

        &:hover {
            background: #545454;
        }
    }
    // =========container end===========

    // medias for cta
    @media screen and (max-width: 1450px) {
        .cta-btn {
            width: 25%;
        }
    }

    @media screen and (max-width: 1200px) {
        .cta-header {
            font-size: 3rem;
        }
    }

    @media screen and (max-width: 750px) {

        .cta-header {
            font-size: 1.5rem;
        }

        .cta-btn {
            padding: .75rem;
            width: 60%;
            font-size: 1.1rem;
        }

    }
    // ---cta end---

    // ---registration start---
    .registration {
        margin: 0 auto;
        padding: 1rem;
        display: none;
        text-align: center;
        transition: all .5s ease;

        #registration__username {
            padding: 1em;
            border: none;
            outline: none;
            font-size: 1rem;
            color: #242424;
        }

        #registration__submit {
            border: none;
            padding: 1rem;
            background: gray;
            font-size: 1rem;
            cursor: pointer;
            transition: background .2s ease-in-out;

            &:hover {
                background: #545454;
            }
        }

        .registration__status-msg {
            max-width: 330px;
            opacity: 0;
            margin-top: 1rem;
            padding: 1rem;
            transition: opacity .2s ease-in-out;
        }
    }
    // ---registration end---

    // ---registration media---
    @media screen and (max-width: 750px) {
        .registration .registration__status-msg {
            max-width: 230px;
            text-align: center;
            margin: .5rem auto 0;
        }

        .registration #registration__submit {
            margin-top: .5rem;
            width: 100%;
            max-width: 230px;
        }
    }
}

// ---for cursor effect---
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}
