@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #242424;
}

// ========CONTAINER=========
.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 2rem;
    background: rgba(255,255,255,.25);

    * {
        text-align: center;
        width: 70%;
    }

    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border: thin solid #fff;
        border-radius: 50%;
        font-size: 1.2rem;
    }

    .target-words {
        padding: 1rem;
        width: max-content;
        word-spacing: 5px;
        font-size: 1.2rem;
        font-weight: 200;
    }

    #wordInput {
        max-width: 200px;
        padding: .5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        background: rgba(0, 0, 0, .8);
    }

    .score {
        font-weight: 600;
    }

    .game-over-container,
    .game-over__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }

    // ======GAME OVER CONTAINER==========
    .game-over-container {
        width: 100%;
        padding: 1em;
        display: none;
        transition: display .2s;

        .game-over__buttons {
            display: flex;

            .scoreboard,
            .play-again {
                border: thin solid #848484;
                min-width: max-content;
                padding: .5rem 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s ease;
            
                &:hover {
                    background-color: #848484;
                    color: white;
                }
            }
        }
    }
    // =========GAME OVER CONTAINER END=========
}
// ==========CONTAINER END============

.current-target {
    background: rgba(#af8e8e, .5);
    padding: .25rem;
}

::placeholder {
    color: #c4c4c4;
}

@media screen and (max-width: 700px) {
    .container {
        width: 75%;
    }

    .container * {
        width: 100%;
    }
}