@import './partials/flex';
@import './partials/initial';

// ========CONTAINER=========
.container {
    @include flex(flex, center, space-evenly, column, 24px);
    width: 100% !important;
    padding: 100px 12px;
    background: rgba(255, 255, 255, .20);
    box-shadow:
        0 2.8px 2.2px rgba(255, 255, 255, 0.034),
        0 6.7px 5.3px rgba(255, 255, 255, 0.048),
        0 12.5px 10px rgba(255, 255, 255, 0.06),
        0 22.3px 17.9px rgba(255, 255, 255, 0.072),
        0 41.8px 33.4px rgba(255, 255, 255, 0.086),
        0 100px 80px rgba(255, 255, 255, 0.12);

    * {
        text-align: center;
        width: 70%;
    }

    .timer {
        @include flex($flex: flex, $align: center, $justify: center);
        width: 75px;
        height: 75px;
        border: thin solid #fff;
        border-radius: 50%;
        font-size: 19.2px;
    }

    .target-words {
        padding: 16px;
        width: max-content;
        word-spacing: 5px;
        font-size: 19.2px;
        font-weight: 200;
        user-select: none;
    }

    #wordInput {
        color: black;
        background: rgba(255, 255, 255, .5);
        max-width: 200px;
        padding: 15px 35px;
        position: relative;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 16px;
    }
    
    @media screen and (max-width: 600px) {
        .target-words {
            font-size: 17.6px;
        }
        
        #wordInput {
            padding: 15px 30px;
            font-size: 16px;
        }
        
        .timer {
            width: 65px;
            height: 65px;
        }
    }
    
    @media screen and (max-width: 450px) {
        .target-words {
            font-size: 16.8px;
        }

        #wordInput {
            padding: 10px 24px;
            font-size: 14.4px;
        }

        .timer {
            width: 60px;
            height: 60px;
            font-size: 17.6px;
        }

        .instructions {
            font-size: 12.8px;
        }
    }

    // ======GAME OVER CONTAINER==========
    .game-over-container,
    .game-over__buttons {
        @include flex($align: center, $justify: center, $dir: column, $gap: 24px);
    }

    .game-over-container {
        width: 100%;
        padding: 16px;
        display: none;
        transition: display .2s;

        .game-over__success-rate {
            margin-bottom: 16px;
        }

        .game-over__buttons {
            display: flex;

            .scoreboard,
            .play-again {
                border: thin solid #848484;
                max-width: 200px;
                padding: 8px 16px;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s ease;

                &:hover {
                    background-color: #848484;
                    color: white;
                }
            }

            @media screen and (max-width: 450px) {
                .play-again {
                    margin-bottom: 16px;
                }
            } 
        }
    }

    // =========GAME OVER CONTAINER END=========
}

// ==========CONTAINER END============

.current-target {
    background: rgba(#af8e8e, .5);
    padding: 4px;
}

::placeholder {
    font-weight: 400;
    color: black;
}

@media screen and (max-width: 700px) {
    .container {
        height: 100%;
    }
}