@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #242424;
}